---
layout: bare_base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css" rel="stylesheet">

    {%- if page.post_header_img -%}
    <div>
        <img src={{page.post_header_img}} alt="post_logo" class="post_logo">
    </div>
    {%- endif -%}

    <br>

    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            {%- if page.author -%}
            {% for author in page.author %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
            {% endfor %}
            {%- endif -%}
        </p>
    </header>

    <div class="post-abstract">
        <span style="color: black; font-style: normal;"><b>Abstract</b>:</span> {{page.abstract}}
    </div>

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    {%- if page.pdf_img -%}
    <div style="margin-left: 5; margin-bottom: 10px; font-weight: bold; color: gray">PDF:</div>
    <a href="{{page.pdf_link}}">
        <img src="{{page.pdf_img}}" height="auto" width="100%" style="border: 0.5px solid black">
    </a>
    {%- endif -%}

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>